{% extends layout_template %}

{% block content %}
    <h2 style="margin-left: 460px;">{{ text }}</h2>
    <p style="margin-left: 460px;">No dictionary entry found for '{{ text }}'</p>
{% endblock %}
