{% extends 'base.html.twig' %}

{% block body %}
    <h2 style="margin-left: 460px;">4😵0 - Invalid request</h2>
    <p style="margin-left: 460px; margin-right: 460px;">{{ exceptionMessage }}</p>
{% endblock %}
