{% extends 'base.html.twig' %}

{% block body %}
    <!-- TEST: CUSTOM TEMPLATE: error404.html.twig -->
    <h2 style="margin-left: 660px;">4😮4</h2>
    <p style="margin-left: 560px;">The page you requested could not be found.</p>
{% endblock %}
