{% extends 'base.html.twig' %}

{% block body %}
    <!-- TEST: CUSTOM TEMPLATE: error.html.twig -->
    <h2 style="margin-left: 460px;">Something went wrong</h2>
    <p style="margin-left: 460px;">We're aware of the issue and working on a fix.</p>
    <p style="margin-left: 460px;">We're sorry for any inconvenience this is causing you.</p>
{% endblock %}
